huggingface_hub
numpy>=1.21.0
python-dotenv
transformers
fastapi
uvicorn[standard]
reportlab
python-multipart
torch
torchaudio
openai-whisper
SpeechRecognition
pydub
langchain
langchain-community
langchain-text-splitters
pypdf2
faiss-cpu
sentence-transformers
chromadb